html {
  height: 100%;
}

body {
  height: 100%;
  padding:0;
  margin:0;  
  font-family: Helvetica, sans-serif;
  font-size: 13.2px;
  background-color: #eee;
}

#header {
  padding: 3px;
  text-align: right;
}

#center {
  margin-left: auto;
  margin-right: auto;
  width: 820px;
  min-height: 100%;
  background-color: white;
  box-shadow: 0 0 15px #888888;
  position: relative;
}

#sidebar {
  float: left;
  width: 180px;
  padding: 24px;
  padding-top: 0;
}

#title {
  text-transform:lowercase;
  background-color: white;
  font-weight: bold;
  color: black;
  font-family: 'Averia Serif Libre', sans-serif;
  font-size: 18pt;
  margin-bottom: 1em;
}

#title .year {
  font-weight: normal;
  color: #0F4D92;
}

#content {
  margin-left: 200px;
  position: relative;
  padding: 1em;
}

#menu {
  color: black;
  font-size: 14px;
}

#menu ul {
  margin: 0;
  padding: 0;
  line-height: 180%;
}

#menu li {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0F4D92;
}

.register {
  margin: 3em 0 3em 0;
}

.register a {
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color:  #0F4D92;
  padding: 7px 8px;
  border-radius: 3px;
}

.dateline {
  font-style:italic;
  color: #999;
  font-size: 10pt;    
}





